* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Intestazione */

img {
    max-width: 100%;
}

.main-header{
    font-size: 45px;
}

.logo {
    width: 100px;
    vertical-align: middle;
}

/* Inizio del main */
/* Prima section */
.container-bg-white {
    background-color: #F5F5F5;
}
.main-container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 10px solid #F5F5F5;
}

.container-bar {
    padding: 20px;
    background-color: white;
    border-top: 20px solid #F5F5F5;
    border-bottom: 3px solid  #F5F5F5;
}

.container {
    padding: 20px;
    background-color: white;
    border: 10px solid black;
}

.add-bar{
   width: 100%;
   display: inline-block;
}

.add-task {
    color: white;
    background-color: #79c0ff;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

.add-section {
    color: lightgrey;
    background-color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.new-task {
    font-size: 22px;
    padding-top: 10px;
}

/* Seconda section */
.container-new-task {
    padding: 20px;
}
.list {
    list-style: none;
    padding-top: 10px;
}
.done {
    display: inline-block;
    font-size: 12px;
    width: 20px;
    height: 20px;
    color: green;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
}

.editorial {
    font-size: large;
    color: white;
    font-size: 11px;
    background-color: #79c0ff;
    padding: 6px 15px;
    border-radius: 15px;
}

/* Terza section */
.today-container {
    background-color: white;
    padding-top: 20px;
}
.not-done {
    display: inline-block;
    font-size: 12px;
    width: 20px;
    height: 20px;
    color: red;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
}

.goals {
    font-size: large;
    color: white;
    font-size: 11px;
    background-color: #8A2BE2;
    padding: 6px 15px;
    border-radius: 15px;
}

.recruiding {
    font-size: large;
    color: white;
    font-size: 11px;
    background-color: #8FBC8F;
    padding: 6px 15px;
    border-radius: 15px;
}

.mobile {
    color: white;
    font-size: 11px;
    background-color: orange;
    padding: 6px 15px;
    border-radius: 15px;
}

.item {
    padding-top: 20px;
}

.today {
    padding-bottom: 10px;
    font-size: 22px;
    padding-top: 10px;
}
/* Quarta section */
.upcoming-container {
    background-color: white;
    padding-top: 20px;
}

.upcoming {
    font-size: 22px;
    padding-top: 10px;
}

.website {
    color: white;
    font-size: 11px;
    background-color: #DB7093;
    padding: 6px 15px;
    border-radius: 15px;
}

.sales {
    color: white;
    font-size: 11px;
    background-color: #9ACD32;
    padding: 6px 15px;
    border-radius: 15px;
}
